<div style="background-color:black;font-size:26px;color:white">
  <img style="margin-left: 200px;margin-top: 30px" src="https://raw.githubusercontent.com/Rocketseat/bootcamp-gostack-desafio-02/master/.github/logo.png">
  <br/>
  <br/>
  <strong>Olá <b style="color:rgb(223, 59, 59)";">{{ student }}</b>. </strong>
  <br />
  <p>Sua dúvida:
    <br>
    <strong style="background-color:rgb(34, 34, 34);color: rgb(223, 59, 59)">"{{ question }}"</strong>
    <br>
    foi respondida!
    <br />
    <br />
    Resposta:
    <br />
    <strong style="background-color:rgb(34, 34, 34);color: rgb(223, 59, 59)">{{ answer }} </strong>.</p>

  <p style="color: red;">Bora treinar! :D</p>
</div>
