<strong>Olá {{ student }} </strong>
<p>Sua dúvida foi respondida.</p>
<br />
<p>Sua dúvida <strong style="color: red">"{{ question }}"</strong> foi respondida!
<br />
Um instrutor respondeu a sua dúvida:
<br />
<br/>
<strong style="color: red">{{ answer }} </strong>.</p>

<p>Precisando é só chamar!! :D</p>
