<strong>Olá {{ student }} </strong>
<p>Seja bem vindo(a) ao gymPoint.</p>
<br />
<p>Sua matrícula no plano <strong style="color: red">{{ plan }}</strong>, com
valor de <strong style="color: red">{{ price }} </strong>
por mês, foi realizada com Sucesso!</p>

<p>Sua matrícula é válida até  {{ end_date }}</p>


